body{
    margin:0;
    padding:0;
}
h1{
    text-justify: center;
}
main{
    display: grid;
    grid-template-columns: 1fr, auto, auto;
    justify-content: center;
}
image{
    grid-column: 2/3;
}

footer{
    margin-top:5px;
    padding:0;
    display: grid;
    grid-template-columns: 1fr auto;
    background: #362706;
    color: #8dd3c1;
}
