@media screen and (max-width: 600px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }   
    .VH, .HL, .WS {
        border-radius: 20px;
    }
    h1, h2 ,h3{
        text-align: center;
    }
    .VH{
        background: lightpink;
        padding: 2rem;
        grid-column: 1 / 2;
    }
    .HL{
        background: rgb(182, 255, 182);
        padding: 2rem;
        grid-column: 1 / 2;
    }
    .WS{
        background: rgb(193, 182, 255);
        padding: 2rem;
        grid-column: 1 / 2;
    }
}