@media screen and (min-width: 500px) {
    body{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    header{
        display: grid;
        background:  blue;
        text-align: center;
        grid-column: 1 / 4;    
        
    }
    header img{
        grid-column: 2 / 3;
    }
    .focus{
        color:chartreuse;
    }
    .hero {
        margin: 10px auto;
        position: relative;
        border: 1px solid rgba(0,0,0,.1);
        height: 400px;
    }
    .herolabel {
        position: absolute;
        top: 30px;
        left: 40px;
        background: radial-gradient(#fff, #6c728b);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.55;
    }

    nav{
        background: black;
        align-items: center;
        justify-content: center;
        height: 200px;
        text-align: center;
        grid-column: 1 / 4;
        display: flex;
    }

    nav ul li{ 
        padding-bottom: 20px;
    }

    nav ul li a{
        color: white;
    }

    ul{
        text-decoration: none;
    }

    a{
        text-decoration: none;
    }

    li{
        list-style: none;
    }

    main{
        grid-column: 2 / 3;
    }

    h3{
        background: blue;
        color: white; 
        padding: 20px;
    }

    section{
        border: 2px solid blue;
        border-radius: 5px;
        border-top: 7px solid blue;
    }

    footer{
        grid-column: 2 / 3;
    }

    #menu {
        display: none; /* hide hamburger button */
    }
    .weather::before{
        content:"☀️"
    }
    iframe{
        grid-column: 2 / 3;
    }
}