@media screen and (max-width: 500px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    header{
        background:  blue;
        text-align: center;
        grid-column: 1 / 2;
    }
    nav{
        background: black;
        display: grid;
        height: 200px;
        text-align: center;
        grid-column: 1 / 2;
    }
    ul{
        text-decoration: none;
    }
    nav ul li{
    
        padding-bottom: 20px;
    }
    nav ul li a{
        color: white;
    }
    a{
        text-decoration: none;
        
    }
    li{
        list-style: none;
    }
    main{
        grid-column: 1 / 2;
        
    }
    h3{
        background: blue;
        color: white; 
        padding: 20px;
    
    }
    section{
        border: 2px solid blue;
        border-radius: 5px;
        border-top: 7px solid blue;
    
    }
    footer{
        grid-column: 1 / 2;
    }
    
}